*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #ef5350;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  #search {
    margin-top: 10px;
    padding: 0.5rem;
    width: 80%;
    border-radius: 5px;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  #pokemon-list, #team-builder {
    width: 45%;
    background: white;
    border-radius: 10px;
    padding: 1rem;
  }
  